.ctr-content{
    height:auto;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.05);

    display:flex;
    justify-content:center;
    align-items:flex-start;
}